doctype html
html
    head
        meta(charset="utf-8")
        title Outcon
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        meta(name="format-detection" content="telephone=no")
        meta(name="skype-toolbar" content="skype-toolbar-parser-compatible")
        link(rel="stylesheet" href="css/app-project.css")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")  

        //- Favicons https://www.favicon-generator.org/
    body()
        .container-bg(
            data-2400="background: rgb(0,0,0);"
            data-2700="background: rgb(121,116,225);"
        )
            include ../blocks/header/header
            include ../blocks/cover/cover
            include ../blocks/descr/descr
            include ../blocks/advantages/advantages
            include ../blocks/users/users
            include ../blocks/how-to/how-to
            include ../blocks/subscription/subscription
            include ../blocks/footer/footer
        script(src="js/app-project-base.js")
        script(src="js/app-project-run.js")
