.users#users(data-slide="0")
    .users__ctrls-wrapper.users__ctrls-wrapper_top(data-slide="0")
        .users__ctrl(data-slide="0").users__ctrl_active Организатор
        .users__ctrl(data-slide="1") Артист
        .users__ctrl(data-slide="2") Площадка
        .users__ctrl(data-slide="3") Другие
        .users__line
    .users__ctrls-wrapper.users__ctrls-wrapper_middle
        .users__dots
            .users__dot.users__dot_active(data-slide="0")
            .users__dot(data-slide="1")
            .users__dot(data-slide="2")
            .users__dot(data-slide="3")
    .users__ctrls-wrapper.users__ctrls-wrapper_bottom
        .users__ctrl-arrow.users__ctrl-arrow_left
        .users__ctrl-arrow.users__ctrl-arrow_right
    .users__container
        .users__col
            .users__title-wrapper(data-slide="0")
                | &nbsp;
                .users__title.users__title_active(data-slide="0") 
                    span.users__title_desktop Cоздавая шоу
                    span.users__title_mobile Организатор
                .users__title(data-slide="1")
                    span.users__title_desktop Заявляя о себе
                    span.users__title_mobile Артист
                .users__title(data-slide="2")
                    span.users__title_desktop Заполняя залы
                    span.users__title_mobile Площадка
                .users__title(data-slide="3")
                    span.users__title_desktop
                        | Объединяя&nbsp;
                        br
                        | усилия
                    span.users__title_mobile Другие
            .users__descr-wrapper
                | &nbsp;
                .users__descr.users__descr_active(data-slide="0") Мы создаём инструмент для комфортной работы организаторов на&nbsp;всех этапах администрирования одного концерта или целого тура. Регистрируйтесь и получайте возможность протестировать доступные функции уже&nbsp;сейчас.
                .users__descr(data-slide="1") Прозрачность в&nbsp;выборе партнеров, подлинные цифры доходов и&nbsp;расходов, удобный график на&nbsp;каждый день гастролей, мобильное приложение с&nbsp;уведомлениями, а&nbsp;также статистика сборов в&nbsp;одном месте. Попробуйте все это уже сейчас.
                .users__descr(data-slide="2") Никаких звонков! Продажа даты в&nbsp;один клик. Сомневаетесь в&nbsp;контрагенте? Проверьте. Это просто! Зарегистрируйтесь и мы предоставим вам возможность экономить свои финансовые и временные ресурсы в&nbsp;пользу достижения больших результатов.
                .users__descr(data-slide="3") Прокатные компании, продакшн компании, маркетинговые агенства и ещё огромное количество полезных контрагентов в&nbsp;скором времени будут доступны для работы в&nbsp;одном месте.
        .users__col
            .users__img-wrapper(data-slide="0")
                | &nbsp;
                img.users__img.users__img_active(src="img/users/1-1.png" alt="" data-slide="0")
                img.users__img(src="img/users/2-1.png" alt="" data-slide="1")
                img.users__img(src="img/users/3-1.png" alt="" data-slide="2")
                img.users__img(src="img/users/4-1.png" alt="" data-slide="3")
                .users__coaster.users__coaster_active(data-slide="0")
                .users__coaster(data-slide="1")
                .users__coaster(data-slide="2")
                .users__coaster(data-slide="3")
            img.users__subtitle.users__subtitle_active(src="img/users/1-2.svg" alt="" data-slide="0")
            img.users__subtitle(src="img/users/2-2.svg" alt="" data-slide="1")
            img.users__subtitle(src="img/users/3-2.svg" alt="" data-slide="2")
            img.users__subtitle(src="img/users/4-2.svg" alt="" data-slide="3")
