.users
    padding: 76px 0 150px
    position: relative
    overflow: hidden
    @include breakpoint($tablet)
        padding: 7px 0 150px
    @include breakpoint($mobile)
        padding: 172px 0 197px
    @include breakpoint($mobile-special)
        padding: 0 0 0
        // background: $color-black
    &__container
        position: relative
        @include glass
        display: flex
        justify-content: space-between
        align-items: flex-start
        position: static
        @include breakpoint($mobile-special)
            flex-direction: column-reverse
            justify-content: flex-start
            padding-left: 0
            padding-right: 0
            align-items: center
            &:before
                content: ""
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-image: url('../img/users/bg.svg')
                background-size: cover
                background-repeat: no-repeat
                background-position: center 104px
    &__ctrls-wrapper
        @include glass
        position: absolute
        display: flex
        justify-content: flex-start
        align-items: center
        left: 50%
        transform: translate3d(-50%,0,0)
        z-index: 10
        &_top
            top: 145px
            @include breakpoint($tablet)
                top: 85px
            @include breakpoint($mobile)
                top: 134px
            @include breakpoint($mobile-special)
                display: none
        &_middle
            display: none
            @include breakpoint($mobile-special)
                z-index: 9998
                text-indent: 0
                position: absolute
                top: 440px
                left: 0
                margin-left: 0
                margin-right: 0
                display: flex
                padding-left: 0
                padding-right: 0
                transform: translate3d(0,0,0)
        &_bottom
            bottom: 150px
            z-index: 2
            @include breakpoint($tablet)
                bottom: 143px
            @include breakpoint($mobile)
                bottom: 165px
            @include breakpoint($mobile-special)
                display: none
    &__line
        display: block
        width: 100%
        height: 2px
        background: $color-white
        position: absolute
        left: 0
        right: 0
        bottom: 0
        opacity: 0
    &__ctrl
        font: 600 14px/1 $font-gordita
        letter-spacing: 0.5px
        color: rgba($color-white, 0.26)
        text-transform: uppercase
        position: relative
        padding: 0 0 7px
        margin: 0 36px 0 0
        cursor: default
        transition: color 0.3s ease
        cursor: pointer
        &:last-child
            margin-right: 0
        &_active
            color: rgba($color-white, 1.0)
    &__ctrl-arrow
        position: relative
        width: 56px
        height: 56px
        border-radius: 28px
        background: transparent
        border: 1px $color-white solid
        margin: 0 10px 0 0
        cursor: pointer
        transition: background-color 0.2s ease, border-color 0.2s ease
        &:hover
            transition: background-color 0.2s ease, border-color 0.2s ease
            background: $color-hover
        &:last-child
            margin-right: 0
        &:after
            content: ''
            position: absolute
            left: 50%
            top: 50%
            transform: translate3d(-50%, -50%, 0)
        &_left
            &:after
                @extend .icon-arrow-left
        &_right
            &:after
                @extend .icon-arrow-right
        &_disable
            cursor: default
            opacity: 0.2
            &:hover
                background: transparent
                border: 1px $color-white solid
    &__dots
        position: relative
        left: 0
        top: -50px
        z-index: 9998
        display: flex
        padding: 0 20px
    &__dot
        width: 7px
        height: 7px
        border-radius: 3.5px
        border: 1px $color-white solid
        margin: 0 10px 0 0
        &_active
            background: $color-white
    //&__items-wrapper
    //&__item
    &__col
        &:first-child
            width: 100%
            max-width: 440px
            @include breakpoint($mobile)
                padding: 0 20px 0 0
            @include breakpoint($mobile-special)
                position: relative
                padding-right: 0
                width: 100%
                max-width: 100%
        &:last-child
            margin-right: 5.6vw
            @include breakpoint($tablet)
                margin-right: 0
                align-self: flex-end
            @include breakpoint($mobile-4s)
                width: 100%
    &__title-wrapper
        position: absolute
        margin: 173px 0 0
        font: 500 58px/0.93 $font-gordita
        width: 100%
        @include breakpoint($tablet)
            margin: 199px 0 42px
        @include breakpoint($mobile)
            margin: 114px 0 -18px
        @media (max-width: 680px)
            width: 28vw
        @include breakpoint($mobile-special)
            padding: 0 0 0
            position: relative
            bottom: 0
            width: 100%
            top: -140px
            margin: 94px 0 0 0
        &[data-slide="0"],
        &[data-slide="1"],
        &[data-slide="2"]
            min-height: 102px
            @include breakpoint($mobile-special)
                min-height: 100%
        &[data-slide="3"]
            min-height: 156px
            @include breakpoint($tablet)
                min-height: 102px
            @include breakpoint($mobile)
                min-height: 156px
            @include breakpoint($mobile-special)
                min-height: auto
                position: relative
                left: 0
                top: -140px
            br
                @include breakpoint($mobile-special)
                    display: none
    &__title
        position: absolute
        left: 0
        top: 0
        font: 500 58px/0.93 $font-gordita
        letter-spacing: -2px
        color: $color-white
        animation-name: fadeOutVertical
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        @include fluid-type(768px, 1024px, 41px, 58px)
        @include breakpoint($tablet)
            width: 100%
            max-width: 36vw
        @include breakpoint($mobile)
            max-width: 100%
        @include breakpoint($mobile-special)
            //position: relative
            padding-left: 20px
            padding-right: 20px
            font-size: 24px
            line-height: 2.25
            letter-spacing: -0.8px
            margin: 0
            top: 0
            z-index: 9998
        &_active
            animation-name: fadeInVertical
        &_desktop
            @include breakpoint($mobile-special)
                display: none
        &_mobile
            display: none
            @include breakpoint($mobile-special)
                display: inline
    &__descr-wrapper
        width: 100%
        max-width: 1204px
        margin-left: auto
        margin-right: auto
        padding-left: 0
        padding-right: 0
        position: relative
        @include breakpoint($mobile-special)
            position: relative
            top: -140px
    &__descr
        position: absolute
        left: 0
        top: 300px
        font: 400 14px/1.79 $font-gordita
        color: $color-white
        animation-name: fadeOutVertical
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        @include breakpoint($tablet)
            top: 35.7vw
            padding-right: 10px
        @include breakpoint($mobile)
            font-size: 15px
            line-height: 1.67
            top: 24.7vw
        @media (max-width: 680px)
            top: 31vw
            font-size: 11px
        @include breakpoint($mobile-special)
            font-size: 15px
            margin: 0 20px
            padding: 0
            top: 0
            z-index: 9998
        &_active
            animation-name: fadeInVertical
    &__img-wrapper
        width: 424px
        height: 571px
        overflow: hidden
        position: relative
        border-radius: 8px
        z-index: 3
        padding: 0 0 35px
        box-shadow: 1px 46px 24.9px -22px rgba($color-black, 0.2)
        @media screen and (max-width: 830px)
            width: 300px
        @include breakpoint($mobile)
            width: 344px
            height: 449px
        @include breakpoint($mobile-special)
            height: 449px
            overflow: visible
            margin-left: auto
            margin-right: auto
            border-radius: 0 0 0 0
            padding: 30px 0 0 0
        @include breakpoint($mobile-4s)
            max-width: 100%
            width: 100%
        &:before
            content: ''
            display: none
            z-index: 3
            width: 100%
            height: 15px
            background: $color-black
            position: absolute
            bottom: 0
            left: 0
            right: 0
    &__coaster
        content: ''
        z-index: 2
        display: block
        width: 100%
        max-width: 424px
        height: 100%
        max-height: 430px
        background-position: 0 bottom
        background-repeat: no-repeat
        position: absolute
        left: 0
        right: 0
        bottom: 0
        border-radius: 8px
        background-size: contain
        transition: opacity 1s linear
        opacity: 0
        @include breakpoint($mobile)
            width: 100%
            max-height: 383px
        @include breakpoint($mobile-special)
            display: none
            max-width: 100%
            width: 100%
            max-height: 100%
            border-radius: 0 0 0 0
        &[data-slide="0"]
            background-image: url('../img/users/bg.svg'), linear-gradient(-248deg, $color-purple-2 11%, $color-purple-3 78%)
            @include breakpoint($mobile-special)
                background-image: url('../img/users/bg.svg'), linear-gradient(-248deg, $color-purple-2 11%, $color-purple-3 78%)
        &[data-slide="1"]
            background-image: url('../img/users/bg.svg'), linear-gradient(248deg, #12769e, #4689a5)
            @include breakpoint($mobile-special)
                background-image: url('../img/users/bg.svg'), linear-gradient(248deg, #12769e, #4689a5)
        &[data-slide="2"]
            background-image: url('../img/users/bg.svg'), linear-gradient(248deg, #082f2c, #0f423f)
            @include breakpoint($mobile-special)
                background-image: url('../img/users/bg.svg'), linear-gradient(248deg, #082f2c, #0f423f)
        &[data-slide="3"]
            background-image: url('../img/users/bg.svg'), linear-gradient(248deg, #3f2eaf, #6152c3)
            @include breakpoint($mobile-special)
                background-image: url('../img/users/bg.svg'), linear-gradient(248deg, #3f2eaf, #6152c3)
        &_active
            opacity: 1
    &__img
        width: 100%
        height: auto
        position: absolute
        bottom: 35px
        border-radius: 0 0 8px 8px
        z-index: 3
        animation-name: fadeOutVertical
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.3s
        @include breakpoint($mobile)
            bottom: 16px
        @include breakpoint($mobile-special)
            width: auto
            height: 100%
            position: absolute
            bottom: auto
            border-radius: 0 0 0 0
        &_active
            animation-name: fadeInVertical
        &[data-slide="0"]
            max-width: 424px
            left: 0
            right: 0
        &[data-slide="1"]
            max-width: 389.5px
            right: 0
            @include breakpoint($mobile)
                max-width: 298px
            @include breakpoint($mobile-special)
                max-width: initial
        &[data-slide="2"]
            width: 367px
            right: 0
            @include breakpoint($mobile)
                max-width: 313px
            @include breakpoint($mobile-special)
                max-width: initial
        &[data-slide="3"]
            width: 417px
            right: 0
            @include breakpoint($mobile)
                max-width: 340px
    &__subtitle
        position: absolute
        right: 0
        top: calc(100% - 272px)
        z-index: 1
        animation-name: fadeOutHorizontal
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        @include breakpoint($tablet)
            width: 100%
            max-width: 61vw
            top: calc(100% - 195px)
        @include breakpoint($mobile)
            max-width: 54vw
            top: calc(100% - 248px)
        @include breakpoint($mobile)
            max-width: 52vw
        @include breakpoint($mobile-special)
            display: none
        &[data-slide="3"]
            max-width: 40vw
        &_active
            animation-name: fadeInHorizontal
