.cover
    .cover__container
        h1.cover__title ДЕЛАТЬ КОНЦЕРТЫ ПРОСТО
        .cover__descr
            .cover__descr-text
                | Система управления 
                br
                | концертной деятельностью
            a.cover__btn(href="https://beta.outcon.pro/registration") подписаться
    #cover__bg_first.cover__bg.cover__bg_first(
        data-0="top: 0px;"
        data-400="top: -70px;"
    )
    #cover__bg_second.cover__bg.cover__bg_second(
        data-0="top: 0px;"
        data-400="top: -100px;"
    )