.cover
    width: 100%
    height: 100vh
    min-height: 700px
    position: relative
    overflow: hidden
    @include breakpoint($tablet)
        background: $color-black
    @include breakpoint($mobile)
        height: auto
    &_active
        height: 100vh
    &:after
        content: ''
        display: block
        width: 100%
        height: 205px
        position: absolute
        left: 0
        bottom: 0
        right: 0
        z-index: 3
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000)
    &__bg
        width: 100%
        height: 100%
        will-change: transform
        background-position: 0 0
        background-repeat: no-repeat
        background-size: cover
        @include breakpoint($mobile)
            height: 100%
        &_first
            position: relative
            z-index: 2
            background-image: url(../img/cover/bg-2.png)
            width: 110%
            transform: translate3d(-5%, 0, 0)
        &_second
            position: absolute
            left: 0
            top: 0
            z-index: 1
            background-image: url(../img/cover/bg-1.jpg)
            width: 110%
            transform: translate3d(-5%, 0, 0)
    &__container
        @include glass
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
    &__title
        @include glass
        position: absolute
        left: 50%
        top: 288px
        transform: translate3d(-50%, 0, 0)
        z-index: 4
        text-transform: uppercase
        font: 600 96px/1.1 $font-gordita
        letter-spacing: -0.1px
        color: $color-white
        @include fluid-type(1024px, 1440px, 82px, 96px)
        @include fluid-type(768px, 1024px, 68px, 82px)
        @include fluid-type(320px, 768px, 30px, 68px)
        @include breakpoint($tablet)
            top: 273px
        @include breakpoint($mobile)
            line-height: 1.56
            position: relative
            left: auto
            top: auto
            margin: 310px 0 295px 0
            transform: translate3d(0, 0, 0)
            padding-left: 0
            padding-right: 0
        @include breakpoint($mobile-special)
            margin: 195px 0 115px 0
            font-size: 36.5px
        &_hidden
            z-index: -1
    &__descr
        @include glass
        position: absolute
        left: 50%
        top: 620px
        transform: translate3d(-50%, 0, 0)
        z-index: 4
        display: flex
        justify-content: flex-start
        align-items: center
        @include breakpoint($tablet)
            top: 538px
        @include breakpoint($mobile)
            position: relative
            left: auto
            top: auto
            transform: translate3d(0, 0, 0)
            padding-left: 0
            right: 0
        @include breakpoint($mobile-special)
            display: flex
            justify-content: flex-start
            align-items: flex-start
            flex-direction: column
        &_hidden
            z-index: -1
    &__descr-text
        font: 500 22px/1.36 $font-gordita
        color: $color-white-2
        margin: 0 54px 0 0
        @include breakpoint($mobile)
            margin-right: 78px
        @include breakpoint($mobile-special)
            margin-right: 0
            margin-bottom: 27px
            font-size: 19px
            line-height: 1.5
        &_hidden
            z-index: -1
    &__btn
        @include default-btn
        width: 180px
        position: relative
        padding-right: 57px
        @include breakpoint($mobile-special)
        &:after
            content: ''
            @extend .icon-arrow-right
            position: absolute
            top: 50%
            right: 23px
            transform: translate3d(0, -50%, 0)