.header
    position: fixed
    left: 0
    top: 0
    right: 0
    z-index: 9999999
    width: 100%
    padding: 24px 0 24px 0
    user-select: none
    @include breakpoint($mobile)
        padding: 22px 0 22px 0
    @include breakpoint($mobile-special)
        padding: 16px 0 16px 0
    &__backdrop
        position: absolute
        left: 0
        top: 0
        right: 0
        bottom: 0
        opacity: 0
        background-color: #000
        // background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
    &__container
        width: 100%
        padding: 0 35px
        display: flex
        justify-content: space-between
        align-items: center
        @include breakpoint($mobile)
            padding: 0 35px
        @include breakpoint($mobile-special)
            padding: 0 19px
    &__logo
        @extend .icon-logo
        z-index: 9999
        @include breakpoint($mobile-special)
            width: 105px
        // &_active
        //     position: absolute
        //     left: 15px
        //     top: 25px
        //     z-index: 10000
    &__nav
        margin: 8px 0 0 auto
        display: flex
        justify-content: flex-start
        align-items: center
        @include breakpoint($mobile-special)
            display: none
            &_active
                width: 100vw
                height: 100vh
                position: fixed
                display: flex
                flex-direction: column
                justify-content: center
                left: 0
                top: 0
                right: 0
                bottom: 0
                &:before
                    content: ''
                    display: block
                    width: 100%
                    height: 100%
                    background: $color-black url("../img/nav/bg.png") center center no-repeat
                    background-size: 90% auto
                    position: absolute
                    left: 0
                    right: 0
                    top: 0
                    bottom: 0
                    z-index: 9998
    &__nav-item
        font: 600 12px/1.2 $font-gordita
        letter-spacing: 0.5px
        color: $color-white
        text-transform: uppercase
        text-decoration: none
        margin: 0 
        padding: 0 0 5px
        position: relative
        overflow: hidden
        z-index: 9999
        & + & 
            margin-left: 24px
        @include breakpoint($mobile-special)
            font: 500 23px/1.48 $font-gordita
            text-transform: none
            padding-top: 23px
            margin-bottom: 23px
            z-index: 9999
            & + & 
                margin-left: 0
        &:after
            content: ''
            display: block
            width: 100%
            height: 2px
            background: $color-white
            position: absolute
            left: 0
            bottom: 0
            will-change: transform
            transform: translate3d(-120%, 0, 0)
            transition: transform 0.3s ease
        &:hover:after
            transform: translate3d(0, 0, 0)
    &__eq
        cursor: pointer
        @include breakpoint($mobile-special)
            margin: 0 24px 0 auto
        &_play
            display: none
    &__eq-bar
        position: absolute
        bottom: 0px
        fill: $color-white
        animation-name: eq-upp-y-down-y
        animation-fill: forwards
        animation-iteration-count: infinite
        transform-origin: 8px 12px
        -webkit-transform-origin: 8px 12px
        rx: 0
        ry: 0
    #eq1
        animation-duration: 0.5s
    #eq2
        animation-duration: 1.3s
    #eq3
        animation-duration: 0.8s
    #eq4
        animation-duration: 0.7s
    #eq5
        animation-duration: 1.0s
    &__burger
        cursor: pointer
        width: 15px
        height: 14px
        position: relative
        opacity: 0
        visibility: hidden
        display: none
        transition: opacity 0.3s ease, visibility 0.3s ease
        @include breakpoint($mobile-special)
            opacity: 1
            visibility: visible
            display: block
            z-index: 9999
            left: 0
            top: 0
        // &_active
        //     position: absolute
        //     right: 22px
        //     top: 23px
        //     left: auto
        //     z-index: 10000
    &__burger-line
        position: absolute
        left: 0
        right: 0
        width: 15px
        height: 2px
        background: $color-white
        transition: all 0.4s ease
        &:first-child
            top: 0
        &:nth-child(2)
            top: 50%
            transform: translate3d(0, -50%, 0)
        &:last-child
            bottom: 0
        @include breakpoint($mobile-special)
            .header__burger_active &:first-child
                transform: rotate(45deg)
                left: -1px
                top: 6px
                width: 17px
            .header__burger_active &:nth-child(2)
                display: none
                visibility: hidden
            .header__burger_active &:last-child
                transform: rotate(-45deg)
                left: -1px
                top: 6px
                width: 17px