header.header
    .header__backdrop
    .header__container
        a.header__logo(href="/")
        nav.header__nav
            a.header__nav-item(href="https://beta.outcon.pro/registration") Присоединиться
            a.header__nav-item(href="https://beta.outcon.pro/login") Войти
        //- .header__eq.header__eq_play
        //-     svg(width="23px" height="9px" viewbox="0 0 23 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        //-         defs
        //-         g#icon-equalizer-anim(fill="#FFFFFF")
        //-             rect#eq1.header__eq-bar(x="0" y="6" width="3" height="3")
        //-             rect#eq2.header__eq-bar(x="5" y="0" width="3" height="9")
        //-             rect#eq3.header__eq-bar(x="10" y="1" width="3" height="8")
        //-             rect#eq4.header__eq-bar(x="15" y="4" width="3" height="5")
        //-             rect#eq5.header__eq-bar(x="20" y="0" width="3" height="9")
        //- .header__eq.header__eq_pause
        //-     svg(width="23px" height="3px" viewbox="0 0 23 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        //-         defs
        //-         g#icon-equalizer-anim(fill="#FFFFFF")
        //-             rect#eq1.header__eq-bar(x="0" y="2" width="3" height="1")
        //-             rect#eq2.header__eq-bar(x="5" y="0" width="3" height="3")
        //-             rect#eq3.header__eq-bar(x="10" y="0" width="3" height="3")
        //-             rect#eq4.header__eq-bar(x="15" y="1" width="3" height="2")
        //-             rect#eq5.header__eq-bar(x="20" y="1" width="3" height="2")
        .header__burger
            .header__burger-line
            .header__burger-line
            .header__burger-line
    //- audio#header__audio.header__audio(loop="" controls="" hidden="")
    //-     source(src="audio/1.mp3" type="audio/mpeg")