@keyframes eq-upp-y-down-y
    0%
        transform: scaleY(1)
    50%
        transform: scaleY(0.5)
    100%
        transform: scaleY(1)
@keyframes fadeOutVertical
    0%
        transform: translateY(0)
        opacity: 1
    100%
        transform: translateY(-15px)
        opacity: 0
@keyframes fadeInVertical
    0%
        transform: translateY(15px)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1
@keyframes fadeOutHorizontal
    0%
        transform: translateX(0)
        opacity: 1
    100%
        transform: translateX(-50px)
        opacity: 0
@keyframes fadeInHorizontal
    0%
        transform: translateX(50px)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1
@keyframes fadeOutOpacity
    0%
        opacity: 1
    100%
        opacity: 0
@keyframes fadeInOpacity
    0%
        opacity: 0
    100%
        opacity: 1
