*,
*:before,
*:after
    margin: 0
    padding: 0
    box-sizing: border-box

html
    height: 100%
    min-height: 100%
    width: 100%
    position: relative
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    position: relative
    width: 100%
    background-color: $color-black
    &.hidden
        overflow: hidden
    @include breakpoint($mobile-special)
        overflow-x: hidden
