// Site for encoding images in base64 (https://www.base64-image.de)
// or background-image: url('../img/icons/icon-example.svg')
// Example usage "@extend .icon-example"
.icon
    &-arrow-bottom
        @include icon
        background-image: url('../img/icons/icon-arrow-bottom.svg')
        width: 12px
        height: 8px
    &-arrow-right
        @include icon
        background-image: url('../img/icons/icon-arrow-right.svg')
        width: 12px
        height: 10px
    &-arrow-left
        @include icon
        background-image: url('../img/icons/icon-arrow-left.svg')
        width: 12px
        height: 10px
    &-arrow-top
        @include icon
        background-image: url('../img/icons/icon-arrow-top.svg')
        width: 12px
        height: 8px
    &-close
        @include icon
        background-image: url('../img/icons/icon-close.svg')
        width: 17px
        height: 18px
    &-logo
        @include icon
        background-image: url('../img/icons/icon-logo.svg')
        width: 121px
        height: 20px
    &-play
        @include icon
        background-image: url('../img/icons/icon-play.svg')
        width: 12px
        height: 14px
    &-ecosystem
        @include icon
        background-image: url('../img/icons/icon-ecosystem.png')
        width: 90px
        height: 90px
    &-process
        @include icon
        background-image: url('../img/icons/icon-process.png')
        width: 86px
        height: 88px
    &-control
        @include icon
        background-image: url('../img/icons/icon-control.png')
        width: 71px
        height: 79px