// Import fonts
// PT Sans
// @import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic-ext')
// PlayFairDisplay
@include font-face(Gordita, "../fonts/Gordita_400", 400, normal, eot woff2 woff svg ttf)
@include font-face(Gordita, "../fonts/Gordita_500", 500, normal, eot woff2 woff svg ttf)
@include font-face(Gordita, "../fonts/Gordita_600", 600, normal, eot woff2 woff svg ttf)
html
    -webkit-font-smoothing: antialiased
body
    font-family: $font-gordita
    font-size: 14px
    line-height: 1.4
    color: $color-black
    text-rendering: optimizeLegibility
    -webkit-text-rendering: optimizeLegibility
    @include selectionText
h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
p
    margin: 0
    padding: 0
    b
        font-weight: bold
    i
        font-style: italic
    a
        // default styles for normal links
        &[href]:not([class])
        &:hover
        &:active
        &:visited
ul,
ol
    margin: 0
    padding: 0
    li
        margin: 0
        padding: 0