#how-to.how-to(data-slide="0")
    .how-to__items-wrapper
        .how-to__container
            .how-to__col
                .how-to__img-wrapper
                    | &nbsp;
                    img.how-to__img.how-to__img_active(src="img/how-to/tours.png" alt="" data-slide="0")
                    img.how-to__img.how-to__img_active(src="img/how-to/poperech.png" alt="" data-slide="0")
                    img.how-to__img.how-to__img_active(src="img/how-to/ivandorn.png" alt="" data-slide="0")
                    img.how-to__img(src="img/how-to/kabinet.png" alt="" data-slide="1")
                    img.how-to__img(src="img/how-to/itog.png" alt="" data-slide="1")
                    img.how-to__img(src="img/how-to/chat.png" alt="" data-slide="2")
                    img.how-to__img(src="img/how-to/ticket.png" alt="" data-slide="2")
            .how-to__col(data-slide="0")
                | &nbsp;
                .how-to__title Как это работает?
                .how-to__subtitle.how-to__subtitle_active(data-slide="0")
                    | Формирование&nbsp;
                    br
                    | и&nbsp;проведение тура
                .how-to__subtitle(data-slide="1") Контроль всех этапов
                .how-to__subtitle(data-slide="2")
                    | Все элементы
                    br
                    | взаимодействия
                .how-to__descr.how-to__descr_active(data-slide="0") Полноценная билетная система внутри сервиса, быстрое формирование туров, редактируйте детали в&nbsp;любой момент, отправляйте запрос на&nbsp;бронирование площадок внутри сервиса.
                .how-to__descr(data-slide="1") Личный кабинет организатора, площадки и&nbsp;артиста формируется под конкретные цели и&nbsp;задачи. Организатор управляет планированием, площадка согласовывает бронирование, артист контролирует график и&nbsp;календарь мероприятий.
                .how-to__descr(data-slide="2") Общение между участниками, бронирование площадки, логистика тура, подключение к&nbsp;системе Ticketscloud, управление маркетингом и&nbsp;многое другое в&nbsp;простом и&nbsp;понятном интерфейсе.
                .how-to__ctrls-wrapper(data-slide="0")
                    .how-to__ctrl-arrow.how-to__ctrl-arrow_left
                    .how-to__ctrl-arrow.how-to__ctrl-arrow_right
                .how-to__dots(data-slide="0")
                    .how-to__dot.how-to__dot_active(data-slide="0")
                    .how-to__dot(data-slide="1")
                    .how-to__dot(data-slide="2")
    .how-to__circles
        | &nbsp;
        img.how-to__circle.how-to__circle_active(
            src="img/how-to/circle-1.png"
            alt=""
            data-slide="0"
        )
        img.how-to__circle(
            src="img/how-to/circle-2.png"
            alt=""
            data-slide="1"
        )
        img.how-to__circle(
            src="img/how-to/circle-3.png"
            alt=""
            data-slide="2"
        )
    .how-to__circles.how-to__circles_mobile
        | &nbsp;
        img.how-to__circle.how-to__circle_active(
            src="img/how-to/outcon-circle-640-320-1.svg"
            alt=""
            data-slide="0"
        )
        img.how-to__circle(
            src="img/how-to/outcon-circle-640-320-2.svg"
            alt=""
            data-slide="1"
        )
        img.how-to__circle(
            src="img/how-to/outcon-circle-640-320-3.svg"
            alt=""
            data-slide="2"
        )