.how-to
    padding: 277px 0 698px
    background: $color-black
    position: relative
    @include breakpoint($tablet)
        padding: 298px 0 698px
    @include breakpoint($mobile)
        padding: 227px 0 693px
    @include breakpoint($mobile-special)
        padding: 227px 0 652px
    &__ctrls-wrapper
        display: flex
        justify-content: flex-start
        align-items: center
        position: absolute
        left: 0
        @include breakpoint($mobile-special)
            display: none
        &[data-slide="0"]
            top: 325px
            @include breakpoint($mobile)
                top: 390px
        &[data-slide="1"]
            top: 325px
            @include breakpoint($mobile)
                top: 390px
        &[data-slide="2"]
            top: 325px
            @include breakpoint($mobile)
                top: 390px
    &__ctrl-arrow
        position: relative
        width: 56px
        height: 56px
        border-radius: 28px
        background: transparent
        border: 1px $color-white solid
        margin: 0 10px 0 0
        cursor: pointer
        transition: background-color 0.2s ease, border-color 0.2s ease
        &:hover
            transition: background-color 0.2s ease, border-color 0.2s ease
            background: $color-hover
        &:last-child
            margin-right: 0
        &:after
            content: ''
            position: absolute
            left: 50%
            top: 50%
            transform: translate3d(-50%, -50%, 0)
        &_left
            &:after
                @extend .icon-arrow-left
        &_right
            &:after
                @extend .icon-arrow-right
        &_disable
            cursor: default
            opacity: 0.2
            &:hover
                background: transparent
                border: 1px $color-white solid
    &__dots
        position: absolute
        left: 0
        top: 370px
        z-index: 9998
        padding: 0
        display: none
        @include breakpoint($mobile-special)
            display: flex
    &__dot
        width: 7px
        height: 7px
        border-radius: 3.5px
        border: 1px $color-white solid
        margin: 0 10px 0 0
        &_active
            background: $color-white
    //&__items-wrapper
    //&__item
    &__container
        @include glass
        display: flex
        justify-content: flex-start
        align-items: flex-start
        @include breakpoint($mobile-special)
            flex-direction: column
    &__col
        position: relative
        z-index: 2
        &:first-child
            width: 100%
            max-width: 565px
            @include breakpoint($tablet)
                max-width: 495px
            @include breakpoint($mobile-special)
                max-width: 100%
        &:last-child
            margin-left: 82px
            width: 100%
            max-width: 500px
            @include breakpoint($tablet)
                max-width: 355px
            @include breakpoint($mobile)
                max-width: 260px
            @include breakpoint($mobile-special)
                max-width: 100%
                margin-left: 0
                display: flex
                justify-content: flex-start
                align-items: flex-start
                flex-direction: column
    &__img-wrapper
    &__img
        position: absolute
        width: 100%
        height: auto
        animation-name: fadeOutHorizontal
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        &_active
            animation-name: fadeInHorizontal
        &:first-child
            max-width: 568px
            left: 0
            top: 0
            @include breakpoint($tablet)
                top: 42px
            @include breakpoint($mobile)
                top: 68px
                max-width: 350px
            @include breakpoint($mobile-special)
                top: 159px
                max-width: 282px
        &:nth-child(2)
            max-width: 376px
            left: 43px
            top: 233px
            @include breakpoint($tablet)
                left: 34px
                top: 226px
                max-width: 300px
            @include breakpoint($mobile)
                left: 28px
                top: 210px
                max-width: 235px
            @include breakpoint($mobile-special)
                left: 20px
                top: 272px
                max-width: 196px
        &:nth-child(3)
            max-width: 376px
            left: 127px
            top: 273px
            @include breakpoint($tablet)
                max-width: 308px
                left: 99px
                top: 257px
            @include breakpoint($mobile)
                max-width: 231px
                left: 79px
                top: 235px
            @include breakpoint($mobile-special)
                max-width: 189px
                left: 62px
                top: 295px
        &:nth-child(4)
            max-width: 503px
            left: -10px
            top: -10px
            @include breakpoint($tablet)
                max-width: 403px
                left: -10px
                top: 36px
            @include breakpoint($mobile)
                max-width: 310px
                top: 90px
            @include breakpoint($mobile-special)
                max-width: 255px
                top: 133px
        &:nth-child(5)
            left: 321px
            top: 29px
            max-width: 261px
            @include breakpoint($tablet)
                max-width: 209px
                left: 259px
                top: 68px
            @include breakpoint($mobile)
                max-width: 160px
                left: 195px
                top: 113px
            @include breakpoint($mobile-special)
                max-width: 133px
                left: 158px
                top: 171px
        &:nth-child(6)
            max-width: 533px
            left: 45px
            top: -14px
            @include breakpoint($tablet)
                width: 425px
                left: 32px
                top: 14px
            @include breakpoint($mobile)
                width: 327px
                left: 26px
                top: 61px
            @include breakpoint($mobile-special)
                width: 264px
                left: 26px
                top: 149px
        &:last-child
            max-width: 492px
            left: -18px
            top: 220px
            @include breakpoint($tablet)
                max-width: 394px
                left: -19px
                top: 199px
            @include breakpoint($mobile)
                max-width: 299px
                left: -10px
                top: 204px
            @include breakpoint($mobile-special)
                max-width: 247px
                left: -8px
                top: 267px
    &__title
        font: 600 14px/1.14 $font-gordita
        letter-spacing: 0.5px
        color: $color-blue-2
        display: block
        margin: 0
        text-transform: uppercase
        @include breakpoint($mobile)
            font-size: 12px
        @include breakpoint($mobile-special)
            font-size: 14px
    &__subtitle
        position: absolute
        left: 0
        top: 81px
        font: 500 28px/1.36 $font-gordita
        color: $color-white
        margin: 0
        animation-name: fadeOutOpacity
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        @include breakpoint($mobile)
            font-size: 26px
            line-height: 1.46
            top: 61px
        @include breakpoint($mobile-special)
            font-size: 20px
            line-height: 1.5
        &[data-slide="0"]
            min-height: 76px
        &[data-slide="1"]
            min-height: 38px
        &[data-slide="2"]
            min-height: 76px
        &_active
            animation-name: fadeInOpacity
    &__descr
        position: absolute
        left: 0
        top: 195px
        font: 400 14px/1.79 $font-gordita
        color: $color-gray
        width: 100%
        max-width: 425px
        margin: 0 0 45px
        animation-name: fadeOutOpacity
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        @include breakpoint($mobile-special)
            font-size: 15px
            line-height: 1.67
        &[data-slide="0"]
            min-height: 75px
            top: 194px
            @include breakpoint($mobile)
                top: 170px
            @include breakpoint($mobile-special)
                top: 390px
        &[data-slide="1"]
            min-height: 132px
            top: 138px
            @include breakpoint($mobile)
                top: 170px
            @include breakpoint($mobile-special)
                top: 390px
        &[data-slide="2"]
            min-height: 108px
            top: 176px
            @include breakpoint($mobile-special)
                top: 390px
        &_active
            animation-name: fadeInOpacity
    &__circles
        position: absolute
        left: 50%
        top: 124px
        transform: translate3d(-50%, 0, 0)
        z-index: 1
        width: 100%
        max-width: 704px
        @include breakpoint($mobile)
            display: none
        &_mobile
            left: 50%
            top: 124px
            max-width: 704px
            display: none
            @include breakpoint($mobile)
                display: block
                max-width: initial
                top: 143px
                width: 610px
            @include breakpoint($mobile-special)
                top: 176px
                width: 642px
    &__circle
        position: absolute
        left: 0
        top: 0
        width: 100%
        max-width: 704px
        animation-name: fadeOutOpacity
        animation-fill-mode: forwards
        animation-iteration-count: 1
        animation-duration: 0.6s
        @include breakpoint($mobile)
            max-width: initial
            left: 50%
            transform: translate3d(-50%,0,0)
        &_active
            animation-name: fadeInOpacity
       