.descr
    width: 100%
    padding: 182px 0 148px
    // overflow: hidden
    @include breakpoint($tablet)
        margin: 0 0 0
        background: $color-black
    @include breakpoint($mobile)
        padding: 154px 0 229px
    @include breakpoint($mobile-special)
        padding: 83px 0 104px
    &__container
        @include glass
        display: flex
        padding-top: 113px
        justify-content: flex-start
        align-items: flex-start
        @include breakpoint($mobile)
            flex-direction: column
            // flex-flow: wrap
    &__col
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
        position: relative
        &:first-child
            width: 46%
            z-index: 2
            @include breakpoint($mobile)
                width: 100%
            @include breakpoint($mobile-special)
                order: 0
        &:last-child
            z-index: 2
            width: 54%
            @include breakpoint($mobile)
                width: 100%
            @include breakpoint($mobile-special)
                order: 1
    &__subtitle
        font: 600 14px/1.14 $font-gordita
        letter-spacing: 0.5px
        color: $color-blue-2
        margin: 0 0 46px
        text-transform: uppercase
        @include breakpoint($tablet)
            margin-bottom: 46px
        @include breakpoint($mobile-special)
            font-size: 14px
            line-height: 1.14
            font-weight: 600
            letter-spacing: 0.5px
            margin-bottom: 27px
    &__title
        font: 500 28px/1.36 $font-gordita
        color: $color-white
        margin: 0 0 29px
        width: 100%
        max-width: 567px
        @include breakpoint($tablet)
            font-size: 26px
            line-height: 1.46
            margin: 0 0 42px
        @include breakpoint($mobile)
            max-width: 468px
            margin: 0 0 33px
        @include breakpoint($mobile-special)
            font-size: 20px
            line-height: 1.5
            max-width: 100%
    &__descr
        font: 400 14px/1.79 $font-gordita
        color: $color-gray
        margin: 0 0 40px
        width: 100%
        max-width: 428px
        @include breakpoint($tablet)
            margin: 0 0 39px
        @include breakpoint($mobile)
            max-width: 275px
        @include breakpoint($mobile-special)
            line-height: 1.5
            max-width: 100%
            width: 100%
        @include breakpoint($mobile-4s)
            display: none
    &__link
        font: 600 10px/56px $font-gordita
        letter-spacing: 0.5px
        color: $color-white
        text-transform: uppercase
        text-decoration: none
        padding: 0 68px 0 0
        position: relative
        @include breakpoint($mobile-special)
            margin: 8px auto
            display: flex
            justify-content: center
            text-align: center
            padding: 5px 0 0 0
        &:before
            content: ''
            border-radius: 28px
            border: 1px $color-white solid
            width: 56px
            height: 56px
            position: absolute
            right: 0
            transition: background-color 0.2s ease, border-color 0.2s ease
            @include breakpoint($mobile-special)
                left: 50%
                right: auto
                top: -10px
                transform: translate3d(-50%, -50%, 0)
                width: 47px
                height: 47px
        &:hover:before
            background: $color-blue
            border-color: $color-blue
            transition: background-color 0.2s ease, border-color 0.2s ease
        &:after
            content: ''
            @extend .icon-play
            position: absolute
            right: 21px
            top: 50%
            transform: translate3d(0, -50%, 0)
            @include breakpoint($mobile-special)
                left: 50%
                right: auto
                top: -10px
                transform: translate3d(-50%, -50%, 0)
    &__img
        flex-grow: 0
        display: flex
        width: 44vw
        max-width: 710px
        height: auto
        position: absolute
        top: -33px
        left: 0
        margin-bottom: 30px
        z-index: 2
        @include breakpoint($mobile-special)
            display: none
        &_hidden
            display: none
            @include breakpoint($mobile-special)
                display: flex
        @include breakpoint($tablet)
            width: 70vw
            max-width: 1000px
            top: -37px
            left: 18px
        @include breakpoint($mobile)
            width: 67.8vw
            top: -300px
            left: 38.5vw
        @include breakpoint($mobile-special)
            width: 100%
            top: 0
            left: 0
            height: auto
            position: relative
    &__circle
        display: block
        width: 48.958333333333333vw
        max-width: 622px
        height: auto
        position: absolute
        left: calc(50% + 85px)
        top: 0
        transform: translate3d(-50%, 0, 0)
        z-index: 1
        @include breakpoint($tablet)
            width: 61vw
            left: 50%
            top: -9px
        @include breakpoint($mobile)
            display: none
    &__circle_mobile
        display: none
        width: 686px
        height: auto
        position: absolute
        left: calc(50% + 85px)
        top: 46px
        transform: translate3d(-50%, 0, 0)
        z-index: 1
        @include breakpoint($mobile)
            display: block
        @include breakpoint($mobile-special)
            width: 780px
            top: 46px
            left: calc(50%)



