.descr
    .descr__container
        .descr__col
            .descr__subtitle(
                data-400="transform: translateY(5px); opacity: 0;"
                data-800="transform: translateY(0); opacity: 1;"
            ) Outcon
            .descr__title(
                data-480="transform: translateY(20px); opacity: 0;"
                data-880="transform: translateY(0); opacity: 1;"
            ) Объединяем артистов, площадки, организаторов и&nbsp;выводим проведение концертной деятельности на&nbsp;новый уровень.
            .descr__descr(
                data-580="transform: translateY(20px); opacity: 0;"
                data-800="transform: translateY(0); opacity: 1;"
            ) Больше никакого хаоса в&nbsp;формировании и&nbsp;проведении туров. Регистрируй личный кабинет, выбирай свою роль и&nbsp;делай свою работу быстро и просто.
            img.descr__img.descr__img_hidden(src="img/descr/1.png" alt="")
            //- a.descr__link(
            //-     href="#"
            //-     data-700="transform: translateY(10px); opacity: 0;"
            //-     data-800="transform: translateY(0); opacity: 1;"
            //- ) Смотреть видео
        .descr__col
            img.descr__img(src="img/descr/1.png" alt="")
        img.descr__circle_mobile(
            src="img/descr/circle.svg"
            alt=""
            data-400="transform: translate3d(-50%, 0, 0) rotate(-50deg); opacity: 0"
            data-750="transform: translate3d(-50%, 0, 0) rotate(0deg); opacity: 1"
        )
        img.descr__circle(
            src="img/descr/2.png"
            alt=""
            data-400="transform: translate3d(-50%, 0, 0) rotate(-50deg); opacity: 0"
            data-750="transform: translate3d(-50%, 0, 0) rotate(0deg); opacity: 1"
        )