.subscription
    .subscription__container
        .subscription__title Присоединяйся к&nbsp;Outcon
        .subscription__descr
            | Доступ к&nbsp;системе бесплатный, вы&nbsp;можете поддержать&nbsp;
            br
            | разработчиков сервиса с&nbsp;помощью донатов.
        a.subscription__link(href="https://beta.outcon.pro/registration") Подписаться