.subscription
    padding: 0 0 144px
    background: $color-black
    @include breakpoint($mobile-special)
        padding: 0 0 121px
    &__container
        @include glass
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        text-align: center
    &__title
        font: 500 38px/1.32 $font-gordita
        color: $color-white
        margin: 0 0 52px
        @include fluid-type(1024px, 1440px, 28px, 38px)
        @include breakpoint($tablet)
            line-height: 1.36
            margin: 0 0 62px
        @include breakpoint($mobile)
            margin: 0 0 68px
        @include breakpoint($mobile-special)
            margin: 0 0 30px
    &__descr
        font: 400 14px/1.79 $font-gordita
        color: $color-gray
        margin: 0 0 87px
        @include breakpoint($mobile-special)
            margin: 0 0 56px
            padding: 0 0
        br
            @include breakpoint($mobile-special)
                display: none
    &__link
        @include default-btn
        width: 180px
        position: relative
        padding-right: 57px
        &:after
            content: ''
            @extend .icon-arrow-right
            position: absolute
            top: 50%
            right: 23px
            transform: translate3d(0, -50%, 0)