.footer
    background: $color-black
    padding: 31px 0
    @include breakpoint($tablet)
        padding: 21px 0
    @include breakpoint($mobile)
        padding: 50px 0
    @include breakpoint($mobile-special)
        padding: 38px 0
    &__container
        @include glass
        display: flex
        justify-content: center
        align-items: center
    &__text
        font: 400 14px/1.79 $font-gordita
        color: $color-gray
