.advantages
    width: 100%
    padding: 202px 0 259px
    overflow: hidden
    @include breakpoint($tablet)
        padding: 22px 0 222px
        background: $color-black
    @include breakpoint($mobile)
        padding: 22px 0 140px
    @include breakpoint($mobile-special)
        padding: 22px 0 166px
    &__container
        @include glass
        display: flex
        justify-content: flex-start
        align-items: center
        flex-direction: column
    &__title
        font: 500 38px/1.32 $font-gordita
        color: $color-white
        margin: 0 0 120px
        text-align: center
        @include fluid-type(1024px, 1440px, 28px, 38px)
        @include breakpoint($tablet)
            line-height: 1.36
        @include breakpoint($mobile)
            margin: 0 0 103px
        @include breakpoint($mobile-special)
            margin: 0 0 53px
            font-size: 24px
            text-align: left
            line-height: 1.55
    &__title-selected
        color: $color-blue-2
    &__item
        margin: 0 0 40px
        border-radius: 8px
        background: $color-black-2
        padding: 46px 72px 44px 215px
        width: 100%
        max-width: 712px
        position: relative
        @include breakpoint($tablet)
            max-width: 600px
            padding: 47px 72px 42px 151px
            margin: 0 0 41px
        @include breakpoint($mobile)
            max-width: 555px
            padding: 37px 72px 33px 141px
            margin: 0 0 30px
        @include breakpoint($mobile-special)
            padding: 14px 0 0 0
            margin: 0 0 20px
            border-radius: 0
            background: transparent
        &:last-child
            margin-bottom: 0
        &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            transform: translate3d(0, -50%, 0)
            @include breakpoint($mobile-special)
                position: relative
                left: 0 !important
                top: 0
                transform: translate3d(0, 0, 0)
        &_ecosystem
            &:before
                @extend .icon-ecosystem
                left: 35px
                @include breakpoint($tablet)
                    width: 80px
                    height: 80px
                @include breakpoint($mobile)
                    width: 70px
                    height: 70px
                @include breakpoint($mobile-special)
                    width: 50px
                    height: 50px
        &_process
            &:before
                @extend .icon-process
                left: 57px
                @include breakpoint($tablet)
                    left: 32px
                @include breakpoint($mobile-special)
                    width: 48px
        &_control
            @include breakpoint($mobile-special)
                padding-top: 27px
                margin-top: 0
            &:before
                @extend .icon-control
                left: 65px
                @include breakpoint($tablet)
                    left: 40px
                @include breakpoint($mobile-special)
                    width: 44px
    &__subtitle
        font: 500 22px/1.36 $font-gordita
        color: $color-white-2
        margin: 0 0 16px
        @include breakpoint($mobile-special)
            font-size: 20px
            line-height: 1.5
            margin-bottom: 15px
            margin-top: 28px
        .advantages__item:nth-child(3) &
            @include breakpoint($mobile-special)
                margin-top: 0
        .advantages__item:nth-child(4) &
            @include breakpoint($mobile-special)
                margin-top: 12px
    &__descr
        font: 400 14px/1.79 $font-gordita
        color: $color-gray-2
        @include breakpoint($mobile-special)
            font-size: 15px
            line-height: 1.6
