.advantages
    .advantages__container
        .advantages__title(
            data-1000="transform: translateY(10px); opacity: 0;"
            data-1200="transform: translateY(0); opacity: 1;"
        )
            | Концентрируйся на&nbsp;одном
            br
            | и&nbsp;получишь&nbsp;
            span.advantages__title-selected больше
        .advantages__item.advantages__item_ecosystem(
            data-1300="transform: translateY(10px); opacity: 0;"
            data-1500="transform: translateY(0); opacity: 1;"
        )
            .advantages__subtitle Единая экосистема
            .advantages__descr Соединяя артистов, площадки и&nbsp;организаторов на&nbsp;одной платформе, делаем весь процесс быстрым, удобным и&nbsp;эффективным.
        .advantages__item.advantages__item_process(
            data-1550="transform: translateY(10px); opacity: 0;"
            data-1750="transform: translateY(0); opacity: 1;"
        )
            .advantages__subtitle Прозрачность процессов
            .advantages__descr Рейтинговая система для всех участников позволяет выбрать лучшего партнера и&nbsp;снизить риски при организации тура.
        .advantages__item.advantages__item_control(
            data-1800="transform: translateY(10px); opacity: 0;"
            data-2000="transform: translateY(0); opacity: 1;"
        )
            .advantages__subtitle Контроль всех нюансов
            .advantages__descr Система уведомлений и&nbsp;статусов всех процессов позволяет держать контроль всей ситуации и&nbsp;реагировать своевременно.